@charset "utf-8";
/*Reset browsers default settings*/
/* =============================================================================
  Reset
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
  font-family: 'Verdana', sans-serif;
}
:focus {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}
/* =============================================================================
  Clearfix
========================================================================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
}
.clearfix:after {
  clear: both;
}
/*All variables*/
/*All animations and mixins*/
/***
* @time  - time for execution
*/
/* Chrome, Safari, Opera */
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Mozila */
@-moz-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Standard syntax */
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/***
* @color  - placeholder color
* @font-size  - placeholder font-size
*/
/***
* @param1 - css property
* @time1  - time for execution
* @param2 - css property
* @time2  - time for execution
*/
/***
* @time  - time for execution
*/
/*Pages css*/
body {
  background: url("../images/images.jpg") no-repeat;
  background-size: fixed;
}
.wrapper {
  max-width: 480px;
  width: 100%;
  margin: 200px auto 0;
  padding: 0 20px;
  -webkit-animation: opacity 1s ease-in;
  /* Chrome, Safari, Opera */
  -moz-animation: opacity 1s ease-in;
  /* Chrome, Safari, Opera */
  animation: opacity 1s ease-in-out;
}
.title {
  font-size: 21px;
  padding: 35px 0;
  text-align: center;
  color: #445996;
}
.form-wrapper {
  display: none;
}
.active {
  display: block;
}
.navigation {
  background-color: #445996;
  height: 50px;
  border: 1px solid #445996;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}
.nav-link {
  display: block;
  float: left;
  height: 49px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:active {
  background-color: #dde0e9;
  color: #445996;
}
.active-link {
  background-color: #dde0e9;
  color: #445996;
}
.form-field {
  background: #dde0e9;
  padding: 0 20px;
  border: 1px solid #445996;
  border-top: 0;
  border-radius: 0 0 3px 3px;
}
.form-field .fluid-fieldset {
  padding-bottom: 20px;
}
.form-field .input-holder {
  position: relative;
}
.form-field .fluid-input {
  position: relative;
  padding: 10px 0px 10px 45px;
  border: 1px solid #C2CBE8;
  border-radius: 3px;
  width: 100%;
  background-color: #F6F7F9;
  color: #8c9ac3;
  line-height: 16px;
  -webkit-transition: background-color 0.2s, border 0.2s ease-in;
  -moz-transition: background-color 0.2s, border 0.2s ease-in;
  -ms-transition: background-color 0.2s, border 0.2s ease-in;
  transition: background-color 0.2s, border 0.2s ease-in;
}
.form-field .fluid-input::-webkit-input-placeholder {
  color: #8c9ac3;
  font-size: 12px;
}
.form-field .fluid-input:-moz-placeholder {
  /* Firefox 18- */
  color: #8c9ac3;
  font-size: 12px;
}
.form-field .fluid-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #8c9ac3;
  font-size: 12px;
}
.form-field .fluid-input:-ms-input-placeholder {
  color: #8c9ac3;
  font-size: 12px;
}
.form-field .fluid-input:focus {
  background-color: #fff;
  border: 1px solid #445996;
}
.form-field .fluid-btn {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  border: 0;
  background: #445996;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form-field .fluid-btn:hover {
  background-color: #314580;
}
.icon-style {
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  padding: 8px 12px 8px;
  color: #8c9ac3;
  cursor: pointer;
  font-size: 16px;
  border-right: 1px solid #C2CBE8;
}
/***********************************************************************************************************************
                                        Error messages
***********************************************************************************************************************/
.fluid-form .parsley-success {
  color: #468847;
  background-color: #f9fff7;
  border: 1px solid #468847;
}
.fluid-form .parsley-success:focus {
  color: #468847;
  background-color: #f9fff7;
  border: 1px solid #468847;
}
.fluid-form .parsley-error {
  color: #960000;
  background-color: #F2DEDE;
  border: 1px solid #960000;
}
.fluid-form .parsley-error::-webkit-input-placeholder {
  color: #960000;
  font-size: 12px;
}
.fluid-form .parsley-error:-moz-placeholder {
  /* Firefox 18- */
  color: #960000;
  font-size: 12px;
}
.fluid-form .parsley-error::-moz-placeholder {
  /* Firefox 19+ */
  color: #960000;
  font-size: 12px;
}
.fluid-form .parsley-error:-ms-input-placeholder {
  color: #960000;
  font-size: 12px;
}
.fluid-form .parsley-error:focus {
  color: #960000;
  background-color: #F2DEDE;
  border: 1px solid #960000;
}
.parsley-errors-list {
  padding: 5px;
  color: #960000;
  list-style-type: none;
  font-size: 14px;
  line-height: 14px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.parsley-errors-list.filled {
  opacity: 1;
}
/***********************************************************************************************************************
                        Media Queries Desktop 1319
***********************************************************************************************************************/
/***********************************************************************************************************************
                        Media Queries Tablet 1025
***********************************************************************************************************************/
/***********************************************************************************************************************
                        Media Queries Tablet Min 1024
***********************************************************************************************************************/
/***********************************************************************************************************************
                        Media Queries Desktop 769
***********************************************************************************************************************/
/***********************************************************************************************************************
                        Media Queries Tablet 768
***********************************************************************************************************************/
/***********************************************************************************************************************
                        Media Queries Mobile 480
***********************************************************************************************************************/
@media (max-width: 480px) {
  .wrapper {
    margin-top: 30%;
  }
  .title {
    font-size: 16px;
  }
  .nav-link,
  .fluid-btn {
    font-size: 13px;
  }
}
/***********************************************************************************************************************
                        Media Queries Mobile 479
***********************************************************************************************************************/
@media (max-width: 479px) {
  .wrapper {
    margin-top: 30vw;
  }
  .title {
    font-size: 4.45vw;
  }
  .nav-link {
    font-size: 3vw;
    padding: 0 16px;
  }
  .fluid-btn {
    font-size: 3vw;
  }
  .fluid-input::-webkit-input-placeholder {
    color: #8c9ac3;
    font-size: 10px;
  }
  .fluid-input:-moz-placeholder {
    /* Firefox 18- */
    color: #8c9ac3;
    font-size: 10px;
  }
  .fluid-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #8c9ac3;
    font-size: 10px;
  }
  .fluid-input:-ms-input-placeholder {
    color: #8c9ac3;
    font-size: 10px;
  }
}
/***********************************************************************************************************************
                        Media Queries Mobile 380
***********************************************************************************************************************/
@media (max-width: 380px) {
  .nav-link,
  .fluid-btn {
    font-size: 12px;
  }
}
/***********************************************************************************************************************
                        Media Queries Mobile 379
***********************************************************************************************************************/
@media (max-width: 379px) {
  .nav-link,
  .fluid-btn {
    font-size: 3.5vw;
  }
}
.home {
  margin: 0 auto;
  position: relative;
  background-color: #445996;
  overflow: hidden;
  color: #fff;
  width: 100%;
  padding: 5px 0;
}
.home-viewport {
  width: 70%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.home-wrapper,
.info-wrapper {
  float: left;
  width: 50%;
}
h1 {
  margin: 0 auto;
}
.info-wrapper {
  text-align: right;
}
.info-wrapper p {
  width: 50%;
  float: left;
}
.avatar-img {
  float: left;
  width: 10%;
}
#info-name,
.avatar-img {
  margin-left: 3px;
}
