/***
* @time  - time for execution
*/
.opacity(@time) {
    -webkit-animation: opacity @time ease-in; /* Chrome, Safari, Opera */
    -moz-animation: opacity @time ease-in; /* Chrome, Safari, Opera */
    animation: opacity @time ease-in-out;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Mozila */
@-moz-keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}