/***
* @color  - placeholder color
* @font-size  - placeholder font-size
*/
.placeholder(@color, @font-size) {
    &::-webkit-input-placeholder {
       color: @color;
       font-size: @font-size;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: @color;
       font-size: @font-size;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: @color;
       font-size: @font-size;
    }
    &:-ms-input-placeholder {
       color: @color;
       font-size: @font-size;
    }
}
/***
* @param1 - css property
* @time1  - time for execution
* @param2 - css property
* @time2  - time for execution
*/
.transition-ease-in(@param1,@time1, @param2, @time2) {
    -webkit-transition:@param1 @time1, @param2 @time2 ease-in;
    -moz-transition: @param1 @time1, @param2 @time2 ease-in;
    -ms-transition: @param1 @time1, @param2 @time2 ease-in;
    transition: @param1 @time1, @param2 @time2 ease-in;
}
/***
* @time  - time for execution
*/
.transition-all(@time) {
    -webkit-transition: all @time ease-in;
    -moz-transition: all @time ease-in;
    -o-transition: all @time ease-in;
    transition: all @time ease-in;
}