.form-field {
    background: @nav-link-bg;
    padding: 0 20px;
    border: 1px solid #445996;
    border-top: 0;
    border-radius: 0 0 3px 3px;

    .fluid-fieldset {
        padding-bottom: 20px;
    }
    .input-holder {
        position: relative;
    }
    .fluid-input {
        position: relative;
        padding: 10px 0px 10px 45px;
        border: 1px solid #C2CBE8;
        border-radius: 3px;
        width: 100%;
        background-color: #F6F7F9;
        color: @placeholder;
        line-height: 16px;

        .transition-ease-in(background-color, 0.2s, border, 0.2s);

        .placeholder(@placeholder, 12px);

        &:focus {
            background-color: #fff;
            border: 1px solid #445996;
        }
    }
    .fluid-btn {
        width: 100%;
        padding: 10px 0;
        font-size: 14px;
        text-align: center;
        border: 0;
        background: #445996;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        -webkit-transition: background-color 0.2s ease-in;
        -moz-transition: background-color 0.2s ease-in;
        -ms-transition: background-color 0.2s ease-in;
        transition: background-color 0.2s ease-in;

        &:hover {
            background-color: #314580;
        }
    }
}
.icon-style {
    background-color: transparent;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    padding: 8px 12px 8px;
    color: @placeholder;
    cursor: pointer;
    font-size: 16px;
    border-right: 1px solid #C2CBE8;
}
/***********************************************************************************************************************
                                        Error messages
***********************************************************************************************************************/
.fluid-form {

    .parsley-success {
        color: @light-green;
        background-color: @very-light-gray;
        border: 1px solid @light-green;

        &:focus {
            color: @light-green;
            background-color: @very-light-gray;
            border: 1px solid @light-green;
        }
    }

    .parsley-error {
        color: @cool-red;
        background-color: #F2DEDE;
        border: 1px solid @cool-red;

        .placeholder(@cool-red, 12px);

        &:focus {
            color: @cool-red;
            background-color: #F2DEDE;
            border: 1px solid @cool-red;
        }
    }
}
.parsley-errors-list {
    padding: 5px;
    color: @cool-red;
    list-style-type: none;
    font-size: 14px;
    line-height: 14px;
    opacity: 0;
    .transition-all(0.3s);
}
.parsley-errors-list.filled {
    opacity: 1;
}

/***********************************************************************************************************************
                        Media Queries Desktop 1319
***********************************************************************************************************************/
@media (max-width: 1319px) {

}

/***********************************************************************************************************************
                        Media Queries Tablet 1025
***********************************************************************************************************************/
@media (max-width: 1025px) {

}

/***********************************************************************************************************************
                        Media Queries Tablet Min 1024
***********************************************************************************************************************/
@media (min-width: 1024px) {

}

/***********************************************************************************************************************
                        Media Queries Desktop 769
***********************************************************************************************************************/
@media (max-width: 769px) {

}

/***********************************************************************************************************************
                        Media Queries Tablet 768
***********************************************************************************************************************/
@media (max-width: 768px) {

}

/***********************************************************************************************************************
                        Media Queries Mobile 480
***********************************************************************************************************************/
@media (max-width: 480px) {
    .wrapper {
        margin-top: 30%;
    }
    .title {
        font-size: 16px;
    }
    .nav-link, .fluid-btn {
        font-size: 13px;
    }
}
/***********************************************************************************************************************
                        Media Queries Mobile 479
***********************************************************************************************************************/
@media (max-width: 479px) {
    .wrapper {
        margin-top: 30vw;
    }
    .title {
        font-size: 4.45vw;
    }
    .nav-link {
        font-size: 3vw;
        padding: 0 16px;
    }
    .fluid-btn {
        font-size: 3vw;
    }
    .fluid-input {
        .placeholder(@placeholder, 10px);
    }
}

/***********************************************************************************************************************
                        Media Queries Mobile 380
***********************************************************************************************************************/
@media (max-width: 380px) {
    .nav-link, .fluid-btn {
        font-size: 12px;
    }
}

/***********************************************************************************************************************
                        Media Queries Mobile 379
***********************************************************************************************************************/
@media (max-width: 379px) {
    .nav-link, .fluid-btn {
        font-size: 3.5vw;
    }
}