
.home {
  margin: 0 auto;
  position: relative;
  background-color: #445996;
  overflow: hidden;
  color: #fff;
  width: 100%;
  padding: 5px 0;
}

.home-viewport{
  width: 70%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.home-wrapper,
.info-wrapper {
  float: left;
  width: 50%;
}

h1{
   margin: 0 auto;
}

.info-wrapper {
  text-align: right;
}

.info-wrapper p{
  width: 50%;
  float: left;
}

.avatar-img {
  float: left;
  width: 10%;
}

#info-name,
.avatar-img{
  margin-left: 3px;
}