body {
    background: url("../images/images.jpg") no-repeat;
    background-size: fixed;
}
.wrapper {
    max-width: 480px;
    width: 100%;
    margin: 200px auto 0;
    padding: 0 20px;

    .opacity(1s);
}
.title {
    font-size: 21px;
    padding: 35px 0;
    text-align: center;
    color: @main-color;
}
.form-wrapper {
    display: none;
}
.active {
    display: block;
}