.navigation {
    background-color: @main-color;
    height: 50px;
    border: 1px solid @main-color;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}
.nav-link {
    display: block;
    float: left;
    height: 49px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;

    &:hover, &:active {
        background-color: @nav-link-bg;
        color: @main-color;
    }
}
.active-link {
    background-color: @nav-link-bg;
    color: @main-color;
}