<div class="home">
    <div class="home-viewport">
        <div class="home-wrapper">
            <h1>Hello world</h1>
        </div>
        <div class="info-wrapper">
            <p>Wellcome<span id="info-name"></span></p>
            <img src="images/user_avatar.png" alt="User avatar" class="avatar-img">
        </div>
    </div>
</div>