<form action="" method="POST" id="login" class="fluid-form">

    <h2 class="title">Login</h2>

    <fieldset class="fluid-fieldset">
    <div id="log-user-error"></div>
        <div class="input-holder">
            <label class="icon-style icon-user" for="username"></label>
            <input class="fluid-input" type="text" id="username" name="username" placeholder="Username">
        </div>
    </fieldset>
    <fieldset class="fluid-fieldset">
        <div id="log-pass-error"></div>
        <div class="input-holder">
            <label class="icon-style icon-key" for="password"></label>
            <input class="fluid-input" type="password" id="password" name="password" placeholder="Password">
        </div>
    </fieldset>
    <fieldset class="fluid-fieldset">
        <input type="submit" value="Sign in" class="fluid-btn">
    </fieldset>
</form>

<div id="errors"></div>
