<form action="" method="POST" id="register" class="fluid-form" name="registerform">

    <h2 class="title">Register</h2>

    <fieldset class="fluid-fieldset">
        <div class="input-holder">
            <label class="icon-style icon-user" for="reg-user"></label>
            <input class="fluid-input" type="text" id="reg-user" name="reg-user" placeholder="Username">
        </div>
    </fieldset>
    <fieldset class="fluid-fieldset">
        <div class="input-holder">
            <label class="icon-style icon-key" for="reg-pass"></label>
            <input class="fluid-input" type="password" id="reg-pass" name="reg-pass" placeholder="Password">
        </div>
    </fieldset>
    <fieldset class="fluid-fieldset">
        <div class="input-holder">
            <label class="icon-style icon-key" for="confirm_password"></label>
            <input class="fluid-input" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password">
        </div>
    </fieldset>
    <fieldset class="fluid-fieldset">
        <input type="submit" value="Sign up" class="fluid-btn">
    </fieldset>

</form>

<div id="errors"></div>
